<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/Tarea1.css">
        <title>ActividadesFCFM</title>
    </head>
    <body>
        <div>
           <h3>Nuestras estadísticas:</h3> 
        </div>
        <div id="estadisticas">
            <img src="{{ url_for('static', filename='images/Gráfico_1.PNG') }}" id="grafico">
            <img src="{{ url_for('static', filename='images/Gráfico_2.PNG') }}" id="grafico">
            <img src="{{ url_for('static', filename='images/Gráfico_3.PNG') }}" id="grafico">
            <button type="button" id="portada_stats">Atrás</button>
        </div>   
    </body>
    <script lang="javascript" src="{{ url_for('static', filename='/js/estadisticas.js') }}"></script>
</html>