<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" type="text/css" href="./static/Tarea1.css">
        <title>ActividadesFCFM</title>
        <script src="https://code.highcharts.com/highcharts.js"></script> 
    </head>
    <body>
        <div>
           <h3>Nuestras estadísticas:</h3> 
        </div>
        <div id="container" style="width:100%; height:400px;"></div>
        <div id="container2" style="width:100%; height:400px;"></div>
        <div id="container3" style="width:100%; height:400px;"></div>
        <button type="button" id="portada_stats">Atrás</button>
        <script src="{{ url_for('static', filename='/js/estadisticas.js') }}"></script>
    </body>
</html>